<div>
  <select
    [class]="{ 'w-full': fullWidth }"
    flowSelect
    placeholder="Select Security Preset"
    fullWidth="true"
    [formControl]="preset"
  >
    <option [value]="null" disabled [selected]="preset.value === null">
      Select a classification...
    </option>
    @for (
      pr of (securityService.userSpecificSecuritySettings$ | async)?.presets;
      track pr
    ) {
      <option [value]="pr">
        {{ pr }}
      </option>
    }
    <option [value]="customString">- custom -</option>
  </select>
</div>
@if (preset.value === customString) {
  <br />
  <form [formGroup]="formCustom">
    @if (securityService.userSpecificSecuritySettings$ | async; as settings) {
      <div class="flex flex-wrap gap-8 mb-4">
        <div>
          <p>
            <b>{{ settings.labels.classification.title }}</b>
          </p>
          <p>Users must have this access to view.</p>
          <select
            flowSelect
            [noRightPadding]="true"
            formControlName="classification"
            size="8"
            style="width: 100%"
            class="rounded-xs mt-1"
          >
            @for (optName of classificationSignal(); track optName) {
              <option class="py-2 pr-4 pl-4" [value]="optName">
                {{ optName }}
              </option>
            }
          </select>
        </div>
        @if (caveatSignal().length > 0) {
          <div>
            <p>
              <b>{{ settings.labels.caveat.title }}</b>
            </p>
            <p>Users must have all of selected to view.</p>
            <select
              flowSelect
              [noRightPadding]="true"
              formControlName="caveat"
              multiple
              size="8"
              style="width: 100%"
              class="rounded-xs mt-1"
            >
              <option class="py-2 pr-4 pl-4" value="">-</option>
              @for (optName of caveatSignal(); track optName) {
                <option class="py-2 pr-4 pl-4" [value]="optName">
                  {{ optName }}
                </option>
              }
            </select>
          </div>
        }
        @if (relSignal().length > 0) {
          <div>
            <p>
              <b>{{ settings.labels.releasability.title }}</b>
            </p>
            <p>Users must have one of selected to view.</p>
            <select
              flowSelect
              [noRightPadding]="true"
              formControlName="releasability"
              multiple
              size="8"
              style="width: 100%"
              class="rounded-xs mt-1"
            >
              <option class="py-2 pr-4 pl-4" value="">-</option>
              @for (optName of relSignal(); track optName) {
                <option class="py-2 pr-4 pl-4" [value]="optName">
                  {{ optName }}
                </option>
              }
            </select>
          </div>
        }
        @if (tlpSignal().length > 0) {
          <div>
            <p>
              <b>{{ settings.labels.tlp.title }}</b>
            </p>
            <p>Can restrict access (if configured).</p>
            <select
              flowSelect
              [noRightPadding]="true"
              formControlName="tlp"
              size="8"
              style="width: 100%"
              class="rounded-xs mt-1"
            >
              <option class="py-2 pr-4 pl-4" value="">-</option>
              @for (optName of tlpSignal(); track optName) {
                <option class="py-2 pr-4 pl-4" [value]="optName">
                  {{ optName }}
                </option>
              }
            </select>
          </div>
        }
      </div>
    }
    @if (formCustom.valid) {
      @if (customRender$ | async; as rendered) {
        <!-- {{ rendered }} -->
      }
    } @else {
      <div class="mt-4">
        <flow-alert
          alertType="warning"
          title="Missing selection"
          [withinCard]="true"
          class="mt-4"
        >
          Must select a classification.
        </flow-alert>
      </div>
    }
    @if (selectionErrorSignal() !== undefined) {
      <div class="mt-4">
        <flow-alert
          alertType="error"
          title="Invalid security options"
          [withinCard]="true"
        >
          Invalid selection: {{ selectionErrorSignal() }}
        </flow-alert>
      </div>
    }
  </form>
}
