<az-loading-card
  class="flex w-full"
  cardTitle="Sources"
  [obs$]="entity.sources$"
  [help]="showHelp() ? help : ''"
>
  <div>
    @for (curSource of sourceMap() | keyvalue; track curSource.key) {
      <table
        flowTable
        class="w-full"
        [ngClass]="{
          'table-fixed': summary(),
        }"
      >
        <colgroup>
          @if (summary()) {
            <col span="1" class="w-20" />
            <col
              span="{{ curSource.value.refKeys.length }}"
              [ngStyle]="{
                width:
                  100 / limitMinLength(curSource.value.refKeys.length) + '%',
              }"
            />
          } @else {
            <col span="1" class="w-20" />
            <col span="3" class="w-3/20" />
            <col
              span="{{ limitMinLength(curSource.value.refKeys.length) }}"
              [ngStyle]="{
                width:
                  50 / limitMinLength(curSource.value.refKeys.length) + '%',
              }"
            />
          }
        </colgroup>
        <thead flowTableHeader>
          <tr
            class="dark:border-azul-50 border-t-2 text-center text-sm dark:border-t"
          >
            <th flowTableHeaderCell colspan="100%">
              <b>{{ curSource.key }}</b>
            </th>
          </tr>
          <tr>
            <th flowTableHeaderCell></th>
            @if (!summary()) {
              <th flowTableHeaderCell>Kind</th>
              <th flowTableHeaderCell>Submitted</th>
              <th flowTableHeaderCell>Security</th>
            }
            @if (
              curSource.value.refKeys || curSource.value.refKeys.length === 0
            ) {
              <th flowTableHeaderCell title=""></th>
            } @else {
              @for (k of curSource.value.refKeys; track k) {
                <th flowTableHeaderCell [title]="k">
                  {{ k }}
                </th>
              }
            }
          </tr>
        </thead>
        <tbody flowTableBody>
          <ng-container
            *ngTemplateOutlet="
              tplTableRows;
              context: {
                row: curSource.value.direct,
                kind: 'direct',
                refKeys: curSource.value.refKeys,
              }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              tplTableRows;
              context: {
                row: curSource.value.indirect,
                kind: 'indirect',
                refKeys: curSource.value.refKeys,
              }
            "
          ></ng-container>
        </tbody>
      </table>
    }
  </div>
</az-loading-card>

<ng-template #tplTableRows let-row="row" let-kind="kind" let-refKeys="refKeys">
  @for (item of row; track item.name) {
    <tr flowTableBodyRow>
      <td flowTableBodyCell class="flex">
        <flow-tooltip
          message="View top-level binaries from this submission"
          direction="top-start"
          ><a
            class="table-link"
            [routerLink]="['/pages/binaries/explore']"
            [queryParams]="{
              term: sourceRefsAsParams(
                item.name,
                0,
                item.track_source_references,
                item.timestamp
              ),
            }"
          >
            <fa-icon [icon]="faMagnifyingGlass" /> </a></flow-tooltip
        >&nbsp;
        <flow-tooltip
          message="View top-level binaries with same source references"
          direction="top-start"
        >
          <a
            class="table-link"
            [routerLink]="['/pages/binaries/explore']"
            [queryParams]="{
              term: sourceRefsAsParams(
                item.name,
                0,
                item.track_source_references,
                null
              ),
            }"
          >
            <fa-icon [icon]="faBucket" /> </a
        ></flow-tooltip>
        @if (
          kind === "direct" &&
          allowedToPurge(
            user.isUserAdmin$ | async,
            item.track_source_references,
            undefined
          )
        ) {
          &nbsp;
          <a
            class="table-link"
            title="Purge this submission from the system"
            [routerLink]="['/pages/binaries/purge']"
            [queryParams]="
              getPurgeQueryParams(
                item.track_source_references,
                item.sha256,
                item.references,
                item.timestamp
              )
            "
          >
            <fa-icon [icon]="faTrash" />
          </a>
        }
      </td>
      @if (!summary()) {
        <td flowTableBodyCell>{{ kind }}</td>
        <td flowTableBodyCell class="truncate" [title]="item.timestamp">
          {{ item.timestamp | since }}
        </td>
        <td flowTableBodyCell class="truncate">
          {{ item.security }}
        </td>
      }
      @if (!refKeys || refKeys.length === 0) {
        <td flowTableBodyCell>No reference data</td>
      } @else {
        @for (k of refKeys; track k) {
          <td flowTableBodyCell [title]="item.references?.[k]" class="truncate">
            <span class="truncate break-words">
              @if (item.references) {
                {{ item.references[k] }}
              }
            </span>
          </td>
        }
      }
    </tr>
  }
</ng-template>
