<form (ngSubmit)="onSubmit()">
  <div>
    <ng-container *ngTemplateOutlet="tplMainSearch"></ng-container>
  </div>

  <div>
    <ng-container *ngTemplateOutlet="tplResult"></ng-container>
  </div>

  <ng-template #tplMainSearch>
    <flow-card class="w-full">
      <flow-card-header title="Binary Explorer" />
      <flow-card-body>
        <div class="py-2">
          <p>
            Search for binaries with matching hashes, plugin output, source
            references or other metadata.
          </p>
        </div>
        <div class="flex items-start gap-2">
          <azco-entity-search
            #entitySearch
            [(termModel)]="termModel"
            class="grow"
          />

          <select flowSelect [formField]="exploreSearchForm.count">
            @for (count of countOptions; track count) {
              <option [value]="count">
                {{ count }}
              </option>
            }
          </select>

          @if (exploreSearchFormSignal().count !== "all") {
            <select flowSelect [formField]="exploreSearchForm.sort">
              @for (kv of sortOptions | keyvalue; track kv) {
                <option [value]="kv.key">
                  {{ kv.value.title }}
                </option>
              }
            </select>
          }
          <flow-button [type]="ButtonType.Primary" [submit]="true"
            >Search</flow-button
          >
        </div>
      </flow-card-body>
    </flow-card>
  </ng-template>

  <ng-template #tplResult>
    <azco-entity-results
      [termOption]="termModel().term"
      [countOption]="exploreSearchFormSignal().count"
      [sortOption]="exploreSearchFormSignal().sort"
      [forceEmptySearchOption]="exploreSearchFormSignal().forceEmptySearch"
    ></azco-entity-results>
  </ng-template>
</form>
