<div>
  <div>
    <flow-card style="width: 100%">
      <flow-card-header title="Plugins" />
      @if (plugins$ | async; as allPlugins) {
        <flow-card-body>
          Viewing {{ allPlugins.length || 0 | number }} plugins
        </flow-card-body>
      }
    </flow-card>
  </div>
  <div>
    <ng-container *ngTemplateOutlet="tplResult"></ng-container>
  </div>
</div>

<ng-template #tplResult>
  <flow-card>
    <flow-card-body>
      <az-loading-card [obs$]="plugins$" class="w-full">
        @if (plugins$ | async; as allPlugins) {
          @if (allPlugins.length > 0) {
            <div>
              <table flowTable class="w-full">
                <thead flowTableHeader class="sticky top-0">
                  <tr flowTableHeaderRow>
                    <th flowTableHeaderCell>Name</th>
                    <th flowTableHeaderCell>Version</th>
                    <th flowTableHeaderCell>Security</th>
                    <th flowTableHeaderCell>Description</th>
                    <th flowTableHeaderCell>
                      <az-hover-textable
                        message="Time since a plugin last completed"
                      >
                        Last Completed
                      </az-hover-textable>
                    </th>
                    <th flowTableHeaderCell class="w-20">Features</th>
                    <th flowTableHeaderCell class="w-24">
                      <!--Inaccurate because the api endpoint doesn't filter out duplicates values-->
                      <!--Duplicates are where a plugin processes the same binary when it has different source paths.-->
                      <az-hover-textable
                        message="Number of times a plugin completed in the last 7 days (inaccurate)"
                        >Completed</az-hover-textable
                      >
                    </th>
                    <th flowTableHeaderCell class="w-20">
                      <az-hover-textable
                        message="Number of times a plugin reported 'error|exception|timeout|invalid result' statuses in the last 7 days (inaccurate)"
                      >
                        Error
                      </az-hover-textable>
                    </th>
                  </tr>
                </thead>
                <tbody flowTableBody>
                  @for (
                    currentPlugin of allPlugins;
                    track currentPlugin;
                    let i = $index
                  ) {
                    @if (
                      currentPlugin.multiPluginKey?.length > 0 &&
                      currentPlugin.isRootPlugin !== true &&
                      hiddenMultiPlugins().includes(
                        currentPlugin.multiPluginKey
                      )
                    ) {
                    } @else {
                      <tr flowTableBodyRow>
                        <td
                          flowTableBodyCell
                          class="limit-medium"
                          [ngClass]="{
                            'mp-border border-red-500':
                              currentPlugin.multiPluginKey?.length > 0,
                            'indent-8': currentPlugin.shortName?.length > 0,
                          }"
                        >
                          <span>
                            @if (
                              currentPlugin.isRootPlugin &&
                              currentPlugin.multiPluginKey.length > 0
                            ) {
                              @if (
                                hiddenMultiPlugins().includes(
                                  currentPlugin.multiPluginKey
                                )
                              ) {
                                <button
                                  aria-label="Hide multiplugins"
                                  class="cursor-pointer pr-1 hover:text-gray-200"
                                  (click)="
                                    showMultiPlugin(
                                      currentPlugin.multiPluginKey
                                    )
                                  "
                                >
                                  <fa-icon [icon]="faChevronRight" size="lg" />
                                </button>
                              } @else {
                                <button
                                  aria-label="Hide multiplugins"
                                  class="cursor-pointer pr-1 hover:text-gray-200"
                                  (click)="
                                    hideMultiPlugin(
                                      currentPlugin.multiPluginKey
                                    )
                                  "
                                >
                                  <fa-icon [icon]="faChevronDown" size="lg" />
                                </button>
                              }
                            }
                            <a
                              class="table-link text-wrap break-words"
                              [routerLink]="[
                                '/pages/plugins/current',
                                currentPlugin.newest_version.name,
                                'versions',
                                currentPlugin.newest_version.version,
                              ]"
                            >
                              @if (currentPlugin?.shortName) {
                                <strong>{{ currentPlugin?.shortName }}</strong>
                              } @else {
                                <strong>{{
                                  currentPlugin.newest_version.name
                                }}</strong>
                              }
                            </a>
                          </span>
                        </td>
                        <td flowTableBodyCell class="truncate">
                          <span class="line-clamp-2 text-wrap break-words">
                            {{ currentPlugin.newest_version.version }}
                          </span>
                        </td>
                        <td flowTableBodyCell class="truncate">
                          <span class="line-clamp-2 text-wrap break-words">
                            {{ currentPlugin.newest_version.security }}
                          </span>
                        </td>
                        <td flowTableBodyCell class="limit-description">
                          <flow-tooltip
                            message="{{
                              currentPlugin.newest_version.description
                            }}"
                            [copyText]="true"
                          >
                            <span class="line-clamp-2 text-wrap break-words">
                              {{ currentPlugin.newest_version.description }}
                            </span>
                          </flow-tooltip>
                        </td>
                        <td flowTableBodyCell class="limit-last-completed">
                          <span class="line-clamp-2 text-wrap break-words">{{
                            currentPlugin.last_completion | since
                          }}</span>
                        </td>
                        <td flowTableBodyCell>
                          {{
                            (currentPlugin.newest_version.features?.length
                              | number) || "0"
                          }}
                        </td>
                        <td flowTableBodyCell>
                          {{ (currentPlugin?.success_count | number) || "" }}
                        </td>
                        <td flowTableBodyCell>
                          {{ (currentPlugin?.error_count | number) || "" }}
                        </td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </div>
          } @else {
            <p>No Features Found</p>
          }
        }
      </az-loading-card>
    </flow-card-body>
  </flow-card>
</ng-template>
