.limit-description {
  max-width: 30vw;
}

.limit-medium {
  max-width: 16em;
}

.mp-border {
  box-sizing: border-box;
  border-left: 5px;
  border-left-color: var(--color-red-700);
  border-style: solid;
}
