.limit {
  width: 30vw;
  min-width: 15vw;
  max-width: 40vw;
}

.s-table {
  table-layout: fixed;
  width: 100%;
}

.s-other-table {
  table-layout: fixed;
  width: 100%;
}
.s-table-div {
  max-height: 35vh;
  overflow-y: auto;
}

.s-td {
  text-align: left;
  vertical-align: top;
}

.s-virtual-scroll {
  height: 40vh;
}

.s-checkbox {
  min-width: 22px;
  width: 22px;
  max-width: 22px;
  padding: 0;
}

.s-button-panel {
  width: 12rem;
}

.s-feat-col {
  width: 20%;
}

.s-entity-count-col {
  width: 100px;
}

.s-val-col {
  width: auto;
}

.s-description-col {
  width: 30%;
}
