<div class="flex min-h-0 shrink grow flex-col dark:text-white">
  <div>
    <flow-card>
      <flow-card-header title="Multi-pivot Features">
        @if (ongoingRequest() === true) {
          <fa-icon [icon]="faSpinner" animation="spin" />
        } @else {
          <fa-icon [icon]="faCheck" />
        }
      </flow-card-header>
      <flow-card-body>
        <div class="flex flex-row">
          <div class="flex w-full flex-col">
            <div class="flex grow shrink max-h-0 s-table-div">
              <table flowTable class="s-table w-full">
                <!-- Stick top is breaking when you scroll far.-->
                <thead flowTableHeader class="sticky top-0">
                  <tr flowTableHeaderRow>
                    <th flowTableHeaderCell class="s-checkbox"></th>
                    <th flowTableHeaderCell>Feature</th>
                    <th flowTableHeaderCell>Value</th>
                  </tr>
                </thead>
                <tbody flowTableBody>
                  @for (
                    featVal of this.pivotService.SelectedFeatureSignal();
                    track trackHeaderBy(
                      $index,
                      featVal.feature_name,
                      featVal.feature_value
                    )
                  ) {
                    <tr flowTableBodyRow>
                      <td flowTableBodyCell class="s-td s-checkbox">
                        <!--Class has been set same as checkbox but implementation made it too hard to use library flow-checkbox-->
                        <input
                          type="checkbox"
                          [checked]="
                            isAlreadyTicked(
                              featVal.feature_name,
                              featVal.feature_value
                            )
                          "
                          (change)="
                            updateSelectedFeatures(
                              $event,
                              featVal.feature_name,
                              featVal.feature_value
                            )
                          "
                          class="bg-azul-50 dark:bg-azul-700 rounded-sm border border-gray-300 checked:border-blue-600 checked:bg-blue-600 checked:ring-blue-600 focus:ring-blue-600 dark:border-gray-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                        />
                      </td>
                      <td flowTableBodyCell class="s-td">
                        <flow-tooltip
                          message="{{ featVal.feature_name }}"
                          [copyText]="true"
                        >
                          {{ featVal.feature_name }}
                        </flow-tooltip>
                      </td>
                      <td
                        flowTableBodyCell
                        class="limit line-clamp-2 text-wrap break-words"
                      >
                        <flow-tooltip
                          message="{{ featVal.feature_value }}"
                          [copyText]="true"
                        >
                          {{ featVal.feature_value }}
                        </flow-tooltip>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <div class="flex flex-col">
              <div class="p-2">
                Viewing
                {{
                  (pivotFeatures$ | async)?.feature_value_counts?.length ||
                    "..."
                }}
                features and
                {{ (flattenedPivotFeatures$ | async)?.length || "..." }}
                distinct values
              </div>
              @if ((pivotFeatures$ | async)?.incomplete_query) {
                <flow-alert alertType="warning" [withinCard]="true"
                  >Counts for features are incomplete because only the first
                  10,000 binaries were used to search for features and there
                  were more than 10,000 matching binaries.</flow-alert
                >
              }
            </div>
          </div>
          <div class="s-button-panel flex flex-col py-2 pl-4">
            <flow-tooltip
              message="Convert current selection of features to a binary explore search."
              class="w-full p-1"
            >
              <flow-button
                class="w-full"
                (click)="searchForSelectedFeatures()"
                [type]="
                  this.pivotService.SelectedFeatureSignal().length > 0
                    ? ButtonType.Primary
                    : ButtonType.Disabled
                "
                [size]="ButtonSize.Icon"
                [fullWidth]="true"
                >Binary Search</flow-button
              ></flow-tooltip
            >
            <flow-tooltip
              message="Reset feature selection to what they were when pivoting from the binary."
              class="w-full p-1"
            >
              <flow-button
                class="w-full"
                (click)="resetFeatures()"
                [type]="ButtonType.Danger"
                [size]="ButtonSize.Icon"
                [fullWidth]="true"
                >Reset Selection</flow-button
              ></flow-tooltip
            >
          </div>
        </div>
      </flow-card-body>
    </flow-card>
  </div>
  <div class="min-h-0 shrink grow" *ngTemplateOutlet="tplResult"></div>
</div>

<ng-template #tplResult>
  <flow-card class="flex grow shrink min-h-0 w-full" [isFlex]="true">
    <flow-card-body class="flex min-h-0 w-full" [isFlex]="true">
      <az-loading-card
        [obs$]="flattenedPivotFeatures$"
        class="w-full flex min-h-0"
      >
        <div class="flex grow min-h-0 flex-col shrink justify-items-stretch">
          @if (flattenedPivotFeatures$ | async; as d) {
            @if (d.length > 0) {
              <table flowTable class="s-other-table w-full">
                <thead flowTableHeader>
                  <tr flowTableHeaderRow>
                    <th flowTableHeaderCell class="s-checkbox"></th>
                    <th flowTableHeaderCell class="s-feat-col">Feature</th>
                    <th flowTableHeaderCell class="s-entity-count-col">
                      Binaries
                    </th>
                    <th flowTableHeaderCell class="s-val-col">Value</th>
                    <th flowTableHeaderCell class="s-description-col">
                      Description
                    </th>
                  </tr>
                </thead>
              </table>
              <cdk-virtual-scroll-viewport
                itemSize="29"
                minBufferPx="1800"
                maxBufferPx="1800"
                class="w-full grow shrink min-h-0 justify-self-stretch"
              >
                <table flowTable class="s-table w-full">
                  <tbody flowTableBody class="s-body">
                    <ng-container *cdkVirtualFor="let featureWithValues of d">
                      <tr flowTableBodyRow>
                        <td flowTableBodyCell class="s-checkbox">
                          <!--Class has been set same as checkbox but implementation made it too hard to use library flow-checkbox-->
                          <input
                            type="checkbox"
                            [checked]="
                              isAlreadyTicked(
                                featureWithValues.feature_name,
                                featureWithValues.feature_value
                              )
                            "
                            (change)="
                              updateSelectedFeatures(
                                $event,
                                featureWithValues.feature_name,
                                featureWithValues.feature_value
                              )
                            "
                            class="bg-azul-50 dark:bg-azul-700 rounded-sm border border-gray-300 checked:border-blue-600 checked:bg-blue-600 checked:ring-blue-600 focus:ring-blue-600 dark:border-gray-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                          />
                        </td>
                        <td flowTableBodyCell class="s-feat-col">
                          <flow-tooltip
                            message="{{ featureWithValues.feature_name }}"
                            [copyText]="true"
                          >
                            {{ featureWithValues.feature_name }}
                          </flow-tooltip>
                        </td>
                        <td flowTableBodyCell class="s-entity-count-col">
                          {{ featureWithValues.entity_count }}
                        </td>
                        <td
                          flowTableBodyCell
                          class="s-val-col text-wrap break-words"
                        >
                          <flow-tooltip
                            message="{{ featureWithValues.feature_value }}"
                            [copyText]="true"
                          >
                            {{ featureWithValues.feature_value }}
                          </flow-tooltip>
                        </td>
                        <td
                          flowTableBodyCell
                          class="s-description-col text-wrap break-words"
                        >
                          <flow-tooltip
                            message="{{ featureWithValues.description }}"
                            [copyText]="true"
                          >
                            {{ featureWithValues.description }}
                          </flow-tooltip>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </cdk-virtual-scroll-viewport>
            } @else {
              <p>
                No files with all the selected features found with reason
                {{ d }}
              </p>
            }
          }
        </div>
      </az-loading-card>
    </flow-card-body>
  </flow-card>
</ng-template>
