@if ((entities$ | async).length > 1) {
  <div>
    <flow-card>
      <flow-card-header title="Binaries" />
      <flow-card-body>
        @for (entity of entities$ | async; track entity) {
          <div class="local-entity-list-item">
            <flow-button
              [type]="ButtonType.Light"
              [size]="ButtonSize.Icon"
              (click)="removeEntity(entity.sha256)"
            >
              <fa-icon [icon]="faTrashCan" />
            </flow-button>
            <a
              class="table-link"
              title="View this binary"
              [routerLink]="['/pages/binaries/current', entity.sha256]"
            >
              {{ entity.sha256 }}
            </a>
          </div>
        }
      </flow-card-body>
    </flow-card>
  </div>
  <div>
    <flow-card style="width: 100%">
      <flow-card-header title="Entropy" />
      <flow-card-body>
        <table class="low-pad" style="width: 100%" flowTable>
          <tbody flowTableBody>
            <tr flowTableHeaderRow>
              @for (entity of entities$ | async; track entity) {
                <th
                  class="limit-small truncate text-center font-mono"
                  [title]="entity.sha256"
                  flowTableHeader
                >
                  {{ entity.sha256 }}
                </th>
              }
            </tr>
            <tr class="local-no-hover low-pad">
              @for (entity of entities$ | async; track entity) {
                <td>
                  <azco-entropy
                    style="width: 100%"
                    [minBytes]="maxBytes$ | async"
                    [rawEntropy$]="entity.entropy$"
                    [horizontal]="false"
                  ></azco-entropy>
                </td>
              }
            </tr>
          </tbody>
        </table>
      </flow-card-body>
    </flow-card>
  </div>
  @if (commonStrings$ | async; as loadedCommonStrings) {
    <div>
      <flow-card style="width: 100%">
        <flow-card-header title="Strings" />
        <flow-card-body>
          <cdk-virtual-scroll-viewport
            itemSize="29"
            minBufferPx="100"
            maxBufferPx="500"
            class="max-h-card-height min-h-100 w-full shrink grow justify-self-stretch"
          >
            <table flowTable class="w-full overflow-y-auto">
              <tbody flowTableBody>
                <ng-container
                  *cdkVirtualFor="let row of loadedCommonStrings.strings"
                >
                  <tr flowTableBodyRow>
                    <td flowTableBodyCell class="truncate" [title]="row">
                      {{ row }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </flow-card-body>
      </flow-card>
    </div>
  }
  <div>
    <flow-card>
      <flow-card-header title="Features" />
      <flow-card-body>
        @if (entities$ | async; as entities) {
          @if (featureData$ | async; as fdata) {
            <table class="feature-table-width" flowTable>
              <thead>
                <tr class="sticky-header" flowTableBodyRow>
                  <th
                    flowTableHeaderCell
                    flowTableHeaderResizable
                    class="border-highlight"
                  ></th>
                  @for (entity of entities$ | async; track entity) {
                    <th
                      flowTableHeaderCell
                      class="limit-small sticky truncate font-mono"
                      [title]="entity.sha256"
                    >
                      {{ entity.sha256 }}
                    </th>
                  }
                </tr>
              </thead>
              @for (feat of fdata.features; track feat) {
                <tbody flowTableBody>
                  <tr flowTableBodyRow>
                    <th class="local-left-most-cell text-center" [title]="feat">
                      {{ feat }}
                    </th>
                    <td colspan="100"></td>
                  </tr>
                  @for (value of fdata.values.get(feat); track value) {
                    @if (fdata.entities.get(feat + value); as presents) {
                      <tr flowTableBodyRow>
                        <td
                          class="local-left-most-cell limit-large truncate"
                          [title]="value"
                        >
                          {{ value }}
                        </td>
                        @for (entity of entities; track entity) {
                          <td
                            [title]="entity.sha256"
                            [ngClass]="{
                              'feature-compare-highlight': presents.has(
                                entity.sha256
                              ),
                            }"
                          >
                            @if (presents.has(entity.sha256)) {
                              <div class="grid justify-items-center">
                                <fa-icon [icon]="faCheck" />
                              </div>
                            }
                          </td>
                        }
                      </tr>
                    }
                  }
                  <tr flowTableBodyRow>
                    <td class="local-left-most-cell">&nbsp;</td>
                    <td colspan="100">&nbsp;</td>
                  </tr>
                </tbody>
              }
            </table>
          }
        }
      </flow-card-body>
    </flow-card>
  </div>
} @else {
  <div>
    <flow-card>
      <flow-card-header title="Not Enough Binaries Selected" />
      <flow-card-body>
        Comparisons are currently performed between two or more binaries.
        <br />
        They can be started through the 'Similar' card, on the page for a
        specific entity.
      </flow-card-body>
    </flow-card>
  </div>
}
