.sticky-header {
  position: sticky;
  top: 66px;
  z-index: 100;
}

.feature-table-width {
  width: stretch;
}

.low-pad td:not(:last-child) {
  padding-left: 0;
  padding-right: 3px;
}

.low-pad tr {
  padding-left: 0;
  padding-right: 0;
}

.local-entity-list-item {
  display: inline-block;
  margin: 0.3em;
}

.local-left-most-cell {
  border-right: 1px solid var(--color-basic-700);
}

tr.local-no-hover:hover {
  background-color: inherit;
}

/* These max/min widths are being used as ratios*/
.limit-small {
  max-width: 10em;
}
.limit-large {
  max-width: 1em;
}

td.td-padding {
  padding-right: 10px;
}
