<div class="flex h-full w-full grow flex-col">
  <div class="min-h-0 w-full grow overflow-auto p-4 text-sm">
    @switch (entityNavService.activateRelationsSubTab()) {
      @case (RelationsTabs.SimilarFeatures) {
        <azec-similar-features [entity]="entity()" />
      }
      @case (RelationsTabs.SimilarSsdeep) {
        <azec-similarfuzzyhash [entity]="entity()" hashType="ssdeep" />
      }
      @case (RelationsTabs.SimilarTLSH) {
        <azec-similarfuzzyhash [entity]="entity()" hashType="tlsh" />
      }
      @case (RelationsTabs.SimilarEntropy) {
        <azec-similar-entropy [entity]="entity()" />
      }
      @case (RelationsTabs.Parents) {
        <azec-family [entity]="entity()" [isParent]="true" />
      }
      @case (RelationsTabs.Children) {
        <azec-family [entity]="entity()" [isParent]="false" />
      }
      @case (RelationsTabs.Sources) {
        <azec-source-table [entity]="entity()" />
      }
    }
  </div>

  <div
    class="bg-azul-100/80 dark:bg-azul-600/80 flex h-10 w-full items-center justify-center gap-4 font-light select-none"
  >
    @for (tab of tabs; track tab) {
      <a
        title="{{ tab }}"
        [ngClass]="{
          'hover:bg-azul-300 dark:hover:bg-azul-500 cursor-pointer':
            entityNavService.activateRelationsSubTab() !== tab,
          'bg-azul-200 dark:bg-azul-400':
            entityNavService.activateRelationsSubTab() === tab,
        }"
        class="line-clamp-1 h-10 px-1 py-2"
        (click)="entityNavService.navigateToRelationsSubTab(tab)"
        (keypress)="entityNavService.navigateToRelationsSubTab(tab)"
        tabindex="0"
      >
        {{ tab }}
      </a>
    }
  </div>
</div>
