<az-loading-card cardTitle="Strings" [obs$]="_stringsLoaded$" [help]="help">
  @if (currentStringsSignal(); as currentStrings) {
    <div class="flex h-full flex-col">
      <form>
        <div class="mb-2 flex items-center gap-2">
          <flow-signal-input
            class="grow"
            id="filter"
            [formField]="stringsFilterForm.filter"
            placeholder="Filter"
            fieldSize="small"
          />
          <select
            [formField]="stringsFilterForm.filterType"
            flowSelect
            fieldSize="small"
          >
            <option value="filter">Free-text</option>
            <option value="regex">Regex</option>
          </select>
          <div class="flex h-6 items-center">
            <flow-label
              class="flex pr-2"
              fieldSize="small-nopadding"
              [noPadding]="true"
              for="min-length-strings"
            >
              Min
            </flow-label>
            <flow-signal-input
              title="Min length of a string that can be found"
              class="w-14 shrink"
              id="min-length-strings"
              [formField]="stringsFilterForm.min_length_strings"
              fieldSize="small"
              fieldType="number"
            />
          </div>
          <div class="flex h-6 items-center">
            <flow-label
              class="flex pr-2"
              fieldSize="small-nopadding"
              [noPadding]="true"
              for="max-length-strings"
            >
              Max
            </flow-label>
            <flow-signal-input
              title="Max length of a string that can be found"
              class="flex w-14 shrink"
              id="max-length-strings"
              [formField]="stringsFilterForm.max_length_strings"
              fieldSize="small"
              fieldType="number"
            />
          </div>
          <div class="flex h-6 items-center">
            @if (
              (fileInfoSubject | async).file_size >= allStringsMinSize10Mib
            ) {
              <!--Checkbox to show all the strings in the file which only appears if the file size is greater than 10MiB-->
              <div class="flex flex-col items-center gap-1 p-1">
                <flow-tooltip
                  message="Show all strings for the file instead of just the first 10MiB"
                >
                  <flow-toggle
                    id="show-all-strings-toggle"
                    [formField]="stringsFilterForm.showAllStringsToggle"
                  >
                  </flow-toggle>
                </flow-tooltip>
                <flow-label
                  class="flex"
                  fieldSize="small-nopadding"
                  [noPadding]="true"
                  for="show-all-strings-toggle"
                >
                  All Strings
                </flow-label>
              </div>
            }
            <div class="flex flex-col items-center gap-1 p-1">
              @if ((isAISupported$ | async) === false) {
                <flow-tooltip
                  message="AI filtering is not supported for this file type"
                >
                  <flow-toggle
                    id="ai-filter-toggle"
                    [formField]="stringsFilterForm.aiToggle"
                    [class]="'cursor-not-allowed opacity-50'"
                  >
                  </flow-toggle>
                </flow-tooltip>
              } @else {
                <flow-toggle
                  id="ai-filter-toggle"
                  [formField]="stringsFilterForm.aiToggle"
                >
                </flow-toggle>
              }
              <flow-label
                class="flex"
                fieldSize="small-nopadding"
                [noPadding]="true"
                for="ai-filter-toggle"
              >
                AI filter
              </flow-label>
            </div>
          </div>
          @if (scrollDownInProgressSignal() || scrollUpInProgressSignal()) {
            <span>
              <fa-icon [icon]="faSpinner" animation="spin" />
            </span>
          }
        </div>
      </form>
      <table flowTable class="w-full">
        <thead flowTableHeader>
          <tr flowTableHeaderRow>
            <th flowTableHeaderCell class="w-20">Encoding</th>
            <th flowTableHeaderCell class="w-16">Offset</th>
            <th flowTableHeaderCell>Value</th>
          </tr>
        </thead>
      </table>
      <div class="flex min-h-0 w-full grow">
        @if (isLoadingInitialSignal()) {
          <span class="absolute inset-0 z-50 flex items-center justify-center">
            <az-loading-indicator />
          </span>
        }
        <cdk-virtual-scroll-viewport
          #stringViewport
          itemSize="29"
          minBufferPx="1800"
          maxBufferPx="1800"
          class="min-h-0 shrink grow basis-3"
          style="contain: none"
          (scrolledIndexChange)="scrollOccurred($event)"
        >
          <table
            flowTable
            class="w-full"
            [ngClass]="{
              'opacity-50': isLoadingInitialSignal(),
              'opacity-100': isLoadingInitialSignal() === false,
            }"
          >
            <tbody flowTableBody>
              <tr flowTableBodyRow *cdkVirtualFor="let row of currentStrings">
                <td
                  flowTableBodyCell
                  class="w-20 truncate"
                  [title]="row.encoding"
                >
                  {{ row.encoding }}
                </td>
                <td
                  flowTableBodyCell
                  class="w-16 truncate font-mono"
                  [title]="row.offset | hex"
                >
                  {{ row.offset | hex }}
                </td>
                <td
                  flowTableBodyCell
                  class="truncate font-mono"
                  [title]="row.string"
                >
                  <!--NO White space between the '<span>{{' and '}}</span>' for the span are super important otherwise extra spaces get added around strings values (because of the feature-value-render class)-->
                  <span class="feature-value-render">{{ row.string }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  } @else {
    No binary file available
  }
</az-loading-card>
