<az-loading-card
  [cardTitle]="tablename"
  [obs$]="filteredFind$"
  [contentClass]="'overflow-x-auto'"
>
  @if ((filteredFind$ | async)?.length > 0) {
    <div class="fixed bottom-20 left-1/2 z-50 -translate-x-1/2 transform">
      @if (selectedRowMap?.size === 1 && originalSha256 === undefined) {
        <flow-card darkBackgroundColour="dark:bg-azul-500">
          <flow-card-body>
            <div class="flex flex-col gap-2">
              Select 2 or more binaries to compare.
            </div>
          </flow-card-body>
        </flow-card>
      }
      @if (
        selectedRowMap.size > 1 ||
        (selectedRowMap.size >= 1 && originalSha256 !== undefined)
      ) {
        <flow-card darkBackgroundColour="dark:bg-azul-500">
          <flow-card-body>
            <div class="items-centre flex gap-2">
              @if (originalSha256) {
                <div class="self-center">
                  Do you want to compare
                  {{
                    originalSha256?.length > 10
                      ? (originalSha256 | slice: 0 : 10) + "..."
                      : originalSha256
                  }}
                  @if (originalSha256) {
                    with
                  }
                  {{ selectedRowMap.size }}
                  <ng-container [ngPlural]="selectedRowMap.size">
                    <ng-template ngPluralCase="=1">binary</ng-template>
                    <ng-template ngPluralCase="other"
                      >binaries</ng-template
                    > </ng-container
                  >?
                </div>
              } @else {
                <div class="self-center">
                  Do you want to compare
                  {{ selectedRowMap.size }}
                  <ng-container [ngPlural]="selectedRowMap.size">
                    <ng-template ngPluralCase="=1">binary</ng-template>
                    <ng-template ngPluralCase="other"
                      >binaries</ng-template
                    > </ng-container
                  >?
                </div>
              }
              <flow-button
                class="!mx-auto !block w-32"
                [type]="ButtonType.Danger"
                [blockCentered]="true"
                (click)="onCompareClick()"
              >
                Compare
              </flow-button>
            </div>
          </flow-card-body>
        </flow-card>
      }
    </div>
    <div>
      <!-- External pagination will render this itself -->
      @if (!externalPagination) {
        <div class="text-md py-2">
          Displaying {{ (filteredFind$ | async)?.length | number }} of
          {{ (itemsCount$ | async) || "?" }} binaries matching the search
          parameters.
        </div>
      }
      <div class="flex flex-col gap-2" role="table">
        @for (overrow of filteredFind$ | async; track overrow) {
          <az-entity-table-row
            [row]="overrow"
            [externalPagination]="externalPagination"
            [eType]="eType"
            [originalSha256]="originalSha256"
            (checkChanged)="onRowCheckedChange(overrow, $event)"
          >
            @if (overrow.similarity) {
              <td>Similarity: {{ overrow.similarity | number: "1.2-2" }}%</td>
            }
          </az-entity-table-row>
        }
      </div>
    </div>
  } @else {
    <div class="flex justify-center gap-2">
      <p class="py-2">No binaries match the search criteria</p>
    </div>
  }
</az-loading-card>
