<azco-data-tab-panes class="grow" [tabs$]="tabs$" />
<!-- We want these elements in the DOM so that they are persistent -->
<div class="hidden">
  <div #tabTemplate key="hex" class="flex h-full w-full grow">
    <div class="flex grow p-1">
      <azec-hexview [entity]="entity" class="grow" />
    </div>
  </div>
  <div #tabTemplate key="strings" class="flex h-full w-full grow">
    <div class="flex grow p-1">
      <azec-strings [entity]="entity" class="grow" />
    </div>
  </div>
  @if (streamsRender$ | async; as streamRenderDict) {
    @for (
      keyWithStreamList of streamRenderDict | keyvalue;
      track keyWithStreamList.key
    ) {
      @switch (keyWithStreamList.key) {
        <!--All list based displays-->
        @case (StreamType.YARA_STREAM) {
          <div
            #tabTemplate
            [attr.key]="yaraStreamKey"
            class="flex h-full min-h-0 w-full grow"
          >
            <azec-stream-merged-text-tab-monaco
              [textData]="keyWithStreamList.value"
              class="flex min-h-0 w-full"
            />
          </div>
        }
        @default {
          <!--All none list based displays-->
          @for (stream of keyWithStreamList.value; track stream) {
            <div
              #tabTemplate
              [attr.key]="getKeyForStream(stream)"
              class="flex h-full min-h-0 w-full grow"
            >
              @switch (keyWithStreamList.key) {
                @case (StreamType.TEXT_STREAM) {
                  <azec-stream-text-tab-monaco
                    [textData]="stream"
                    class="flex min-h-0 w-full"
                  />
                }
                @case (StreamType.IMAGE_STREAM) {
                  <azec-image-preview
                    [entity]="entity"
                    [streamData]="stream"
                    class="grow"
                    [fileFormat]="stream.file_format"
                  ></azec-image-preview>
                }
                @case (StreamType.OBJECT_STREAM) {
                  <azec-pdf-preview
                    [entity]="entity"
                    [streamData]="stream"
                    class="grow"
                  ></azec-pdf-preview>
                }
                @default {
                  <div>No preview available for {{ stream.file_format }}</div>
                }
              }
            </div>
          }
        }
      }
    }
  }
</div>
